<main class="font-style">
  <div class="container">
      <div class="index-card row">

        <!--視覺主圖-->
        <div class="col-lg-6 order-1">
          <img src="assets/picture/index-pic.jpg" alt="VR headset" class="vr-image">
        </div>

        <!--主標題-->
        <div class="col-lg-6 order-0">
          <header>
            <a class="navbar-brand fs-2 text-underline" href="#">Tech.</a>
          </header>
          <p></p>

          <h2 class="fs-3">"Building a better digital world with code."</h2>
          <p class="text-muted fs-6 mb-0">&middot; Full Stack Developer | Web Design Enthusiast</p> <!-- text-muted: Bootstrap 設置文本為灰色 -->
          <button class="btn-learn-more" [routerLink]="['/aboutMe']">Learn more</button>
        </div>
      </div>

      <hr/>

      <app-card-article></app-card-article>
    </div>
  </main>
