<p>card-article works!</p>

<app-subject-frontend></app-subject-frontend>
<app-subject-backend></app-subject-backend>
<div class="index-card row">

  <!---->
  <div class="col-lg-4">

  </div>

  <!---->
  <div class="col-lg-4">


    <!-- <div class="arrow-background">
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#fc3e04" style="background-color: #fc3e04;">
        <path fill="#ffffff" d="M360-200v-80h264L160-744l56-56 464 464v-264h80v400H360Z"/>
      </svg>
    </div> -->
  </div>
</div>
