<main class="font-style">

  <div class="container">
    <div class="row">

      <article class="col-7">
          <section>
              <h1>歡迎來到我的網站</h1>
              <p>這裡是我的部落格。</p>
          </section>

          <section>
              <h2>介紹</h2>
              <ul>
                  <li>網頁設計分享</li>
                  <li>軟體開發分享</li>
                  <li>生活分享</li>
              </ul>
          </section>
      </article>

      <aside class="col-5">
          <section>
              <h2>關於我</h2>
              <p>我是一名軟體工程師，在這裡會分享與紀錄我的生活。</p>
          </section>
      </aside>
    </div>

  </div>


</main>
